.column {
  float: left;
  background-color:  lightskyblue;
  width: 280px;
  height: 500px;
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color:  #444c63;
  position: relative;
}

.searchInput{
  background-color:  white !important;
  width: 70% !important;
  margin: 10px !important;
}

.all{
  margin-top: 20%;
  margin-left: 20%;
}

input{
  margin: 10px;
}

button  {
  position: relative;
  display: inline-block;
  background: lightskyblue;
  border: none;
}

.nextbutton{
  margin-left: 10px;
  margin-right: 160px;
}


.buttons {
  position: absolute;
  bottom: 10px;
  display: inline-block;
}

.list-text{
  margin-left: 10px;
  font-family: OpenSans;
  color:  black;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  display: inline-block;
}

.tabse-search-list{
  border:none !important;
  border-collapse: collapse;
}

table{
  border:none !important;

}

td, th {
  border:none !important;
}

.trackimage{
  width: 270px;
  height: 200px;
}

.pauseimage{
  position: relative;
  margin: 100px 80px 50px 120px;
}

.clicked{
  font-waight: bold;
  color: forestgreen;
}

.hovered{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0, .5);
  transition: .1s all;
}
