<div class="all" xmlns="http://www.w3.org/1999/html">
  <div class="column">
    <form action="/action_page.php">
      <input class="searchInput" type="search"  [(ngModel)]= "searchInput" name="musicsearch" >
      <input type="submit" (click)="ngOnInit()" name="submit" value="GO">
    </form>
    <div class="searchresult"></div>

    <table class="tabse-search-list" >
      <tbody >
      <tr *ngFor="let item of searchResultfromComponent.searchResultName; let i=index">
        <table  align="left" border="1px" stile="width:400%">
          <tr>
            <td (click)="setImageUrl(i)">
                 <span appMyClick=""   appMyHover="">
                  {{item}}
                  </span>
              <img src={{searchResultfromComponent.searchResultImage}}>
              <img>
            </td>
          </tr>
        </table>
      </tr>
      </tbody>
    </table>
    <div class="container">
      <div class="buttons">
        <button class="nextbutton" (click)="nextList()"><i class="fa fa-forward" style="font-size:14px; "></i></button>
        <button><i class="fa fa-list-ol" style="font-size:14px;"></i></button>
        <button><i class="fa fa-address-book-o" style="font-size:14px;"></i></button>
      </div>
    </div>
  </div>

  <div class="column">
    <button class="trackimage" type="submit" name="TrackImage"><img src={{searchImage}} (click)="playTrack(indexForPlayTrack)" ></button>
    <button class="pauseimage" (click)="pauseTrack()"><i style="font-size:24px" class="fa">&#xf04c;</i> </button>
  </div>

  <div class="column">
  <div class="list-text">Recent Searches:</div>
  <table class="tabse-search-list">
    <tbody>
    <tr *ngFor="let item of searchhistory">
      <table align="left" border="1px" stile="width:400%">
        <tr>
          <td>
            {{item}}
          </td>
        </tr>
      </table>
    </tr>
    </tbody>
  </table>
</div>
</div>

